-p IMAGE_TAG={{ version }} \
-p GIT_REF={{ GIT_REF }} \
-p NAME={{ react_infra_name }} \
-p SUFFIX={{ version }} \
-p GIT_REPO=https://github.com/bcgov/digital.gov.bc.ca \
-p PULL_REQUEST_NUMBER={{ PR }} 