.breadCrumbs {
    padding-top: 133px;
    position: relative;
    width: 1045px;
    margin: auto;
    margin-bottom: -133px;
    z-index: 5;
}

.options {
    color: #fff;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
}

.listOption {
    display: flex;
    font-size: 16px;
    font-weight: normal;  /* 400 */
    padding: 0 6px 0 6px;
    text-decoration: none;  
}

.options {
    color: #fff;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
}

@media only screen and (max-width: 800px) {
    .breadCrumbs {
        margin-left: -13px;
        padding-left: 0;
        padding-top: 80px;
        width: 100%;
    }

    .listOption {
        font-size: 14px;
    }
}