.cardText {
    text-align: left;
    padding: 16px auto;
}

.cardTitle {
    font-family: 'BC Sans';
    position: relative;
    font-size: 31px;
    line-height: 44px;
    font-weight: bold;
}

.cardDescription {
    font-weight: normal;
}

.cardLink {
    font-family: 'BC Sans';
    color: #1a5a96;
    text-decoration: underline;
    font-weight: bold;
    bottom: 50px;
    position: absolute;
    font-size: 16px;
}

.cardLink:hover {
    text-decoration: none;
    color: blue;
}

.cardBody {
    margin-bottom: 20px;
    font-size: 16pt;
}

.cardImage {
    height: 330px;
}

@media only screen and (max-width: 800px) {
    .cardBody {
        width: 330px;
    }

    .cardTitle {
        font-size: 22px;
        margin-top: -10px;
    }

    .cardDescription {
        font-weight: normal;
        overflow-y: scroll;
        height: 120px;
        font-size: 10px;
    }
}