.cardText {
    text-align: left;
    padding: 16px auto;
}

.cardTitle {
    font-family: 'BC Sans';
    position: relative;
    font-size: 31px;
    line-height: 44px;
    font-weight: bold;
}

.cardDescription {
    font-weight: normal;
    padding-bottom: 25px;
}

.overFlowHidden {
    overflow: hidden;
}

.cardLink {
    font-family: 'BC Sans';
    color: #1a5a96;
    text-decoration: underline;
    font-weight: bold;
    bottom: 25px;
    position: absolute;
    font-size: 16px;
}

.cardLink:hover {
    text-decoration: none;
    color: blue;
}

.cardBody {
    margin-bottom: 20px;
    font-size: 16pt;
    width: 330px;
}

.cardImage {
    min-width: 100%;
    min-height: 330px;
    height: auto;
    max-width: 100%;
}

.cardImageContainer {
    height: 330px;
    overflow: hidden;
}

.cardTextHorizontal {
    text-align: left;
    padding: 16px auto;
}

.cardTitleHorizontal {
    font-family: 'BC Sans';
    position: relative;
    font-size: 31px;
    line-height: 41px;
    font-weight: bold;
}

.cardDescriptionHorizontal {
    font-weight: normal;
}

.cardLinkHorizontal {
    font-family: 'BC Sans';
    color: #1a5a96;
    text-decoration: underline;
    font-weight: bold;
    bottom: 20px;
    font-size: 16px;
}

.cardBodyHorizontal {
    margin-bottom: 20px;
    height: 330px;
}

.cardImageHorizontal {
    height: auto;
    margin-right: 30px;
    width: auto;
    max-width: 110%;
}

.cardImageContainerHorizontal {
    width: 50%;
    float: left;
    overflow: hidden;
    margin-right: 25px;
}


@media only screen and (max-width: 800px) {
    .cardBody {
        width: 330px;
    }

    .cardTitle {
        font-size: 22px;
        margin-top: -10px;
    }

    .cardTitleHorizontal {
        font-size: 22px;
    }

    .cardDescription {
        font-weight: normal;
    }

    .cardLink {
        bottom: 20px;
    }

    .cardBodyHorizontal {
        width: 330px;
        height: 95%;
    }

    .cardImageHorizontal {
        height: auto;
        max-width: 100%;
        margin-right: 0px;
    }

    .cardTitleHorizontal {
        font-size: 22px;
    }

    .cardDescriptionHorizontal {
        font-weight: normal;
    }

    .cardLinkHorizontal {
        bottom: 10px;
    }

    .cardImage {
        height: 330px;
        max-width: none;
        width: auto;
        margin-left: -45%;
    }

    .cardImageContainer {
        max-height: 330px;
    }

    .cardImageContainerHorizontal {
        width: 100%;
        overflow: hidden;
    }
}