.cardText {
    text-align: left;
}

.cardTitle {
    font-family: 'BC Sans';
    position: relative;
    font-size: 31px;
    line-height: 44px;
    font-weight: bold;
}

.cardDescription {
    font-weight: normal;
}

.cardLink {
    font-family: 'BC Sans';
    font-weight: bold;
    bottom: 30px;
    position: absolute;
}

.cardBody {
    margin-bottom: 20px;
}

.cardImage {
    height: 330px;
}

.cardTextHorizontal {
    text-align: left;
    align-self: center;
}

.cardTitleHorizontal {
    font-family: 'BC Sans';
    position: relative;
    font-size: 31px;
    line-height: 44px;
    font-weight: bold;
}

.cardDescriptionHorizontal {
    font-weight: normal;
}

.cardLinkHorizontal {
    font-family: 'BC Sans';
    font-weight: bold;
    margin-top: 50px;
}

.cardBodyHorizontal {
    margin-bottom: 20px;
    height: 330px;
}

.cardImageHorizontal {
    height: 330px;
    margin-right: 30px;
    width: 50%;
    float: left;
}


@media only screen and (max-width: 800px) {
    .cardBody {
        width: 330px;
    }

    .cardTitle {
        font-size: 24px;
    }

    .cardDescription {
        font-weight: normal;
        overflow-y: scroll;
        height: 100px;
    }

    .cardLink {
        bottom: 10px;
    }

    .cardBodyHorizontal {
        width: 330px;
        height: 575px;
    }

    .cardImageHorizontal {
        height: 330px;
        width: 100%;
        margin-right: 0px;
    }

    .cardTitleHorizontal {
        font-size: 24px;
    }

    .cardDescriptionHorizontal {
        font-weight: normal;
        overflow-y: scroll;
        height: 125px;
    }

    .cardLinkHorizontal {
        bottom: 10px;
    }
}