.pageBody {
    margin: auto;
    width: 1124px;
}

.resourceLink {
    font-size: 20px;
    padding-top: 20px;
}

.resourceLinkBox {
    margin-bottom: 20px;
    margin-top: -20px;
}

@media only screen and (max-width: 800px) {

    .cardAdjustment {
        margin-left: -8px;
        margin-right: -8px;
    }

    .pageBody {
        width: 330px;
    }
}

