.pageBody {
    margin: auto;
    width: 1124px;
}


.pageSubtitle {
    font-size: 22pt;
    font-weight: bold;
    margin-bottom: 24px;
}

.resourceLink {
    font-size: 20px;
    padding-top: 20px;
    text-decoration: underline;
}

.resourceLinkBox {
    margin-bottom: 20px;
    margin-top: -20px;
}

@media only screen and (max-width: 800px) {

    .cardAdjustment {
        margin-left: -8px;
        margin-right: -8px;
    }

    .pageBody {
        width: 330px;
    }
}

