.digitalContainer {
    padding-top: 100px;
    background-color: #F2F2F2;
    padding-bottom: 70px;
}

.digitalBody {
    width: 85%;
    margin: auto;
}

.digitalTitle {
    font-size: 22pt;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 24pt;
}

.digitalParagraph {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 12pt;
    line-height: 16pt;
}

.digitalBlock {
    margin-bottom: 25px;
}

.firstRow {
    border-bottom: solid darkgray;
}

.contentRow {
    border-bottom: solid thin black;
    padding-top: 20px;
    padding-bottom: 25px;
}

.lastRow {
    height: 80px;
    padding-top: 20px;
    margin-bottom: 25px;
}

.digitalTableTitle {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 24pt;
    margin-top: 5px;
}

.digitalTable {
    margin-left: -8px;
}

.digitalLink {
    font-weight: bold;
    font-size: 12pt;
}

.someLinks {
    margin-top: -15px;
}

@media only screen and (max-width: 800px) {

    .digitalContainer {
        padding-top: 65px;
    }

    .contentRow {
        padding-top: 15px;
    }
    
    .lastRow {
        height: 200px;
        padding-top: 20px;
    }


    .digitalBlock {
        margin-bottom: 25px;

    }

    .digitalTable {
        margin-bottom: 100px;
    }
}