.contentRow {
    border-bottom: solid thin black;
    padding-bottom: 25px;
    padding-top: 20px;
}

.digitalBlock {
    margin-bottom: 25px;
}

.digitalBody {
    width: 960px;
    margin: auto;
}

.digitalContainer {
    background-color: #F2F2F2;
    padding-bottom: 70px;
    padding-top: 100px;
}

.digitalPageText {
    margin: auto;
    padding-bottom: 110px;
    padding-top: 120px;
    text-align: center;
    width: 975px;
}
.digitalLink {
    color: #0000EE;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
}

.digitalParagraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}

.digitalSection {
    padding-bottom: 60px;
}

.digitalTable {
    margin-left: -8px;
}

.digitalTableTitle {
    font-size: 16pt;
    font-weight: bold;
    line-height: 24pt;
    margin-bottom: 5px;
    margin-top: 5px;
}

.tableSpacer {
    padding-top: 60px;
}

.digitalTitle {
    font-size: 22pt;
    font-weight: bold;
    line-height: 24pt;
    margin-bottom: 5px;
}

.firstRow {
    border-bottom: solid darkgray;
}

.lastRow {
    height: 80px;
    margin-bottom: 25px;
    padding-top: 20px;
}

@media only screen and (max-width: 1200px) {
    .digitalBody {
        width: 85%;
    }
    .someLinks {
        margin-top: -15px;
    }
}

@media only screen and (max-width: 800px) {

    .digitalBody {
        width: 85%;
    }
    
    .digitalContainer {
        padding-top: 65px;
    }

    .digitalTop {
        padding-top: 60px;
    }
    .contentRow {
        padding-top: 15px;
    }

    .digitalBlock {
        margin-bottom: 25px;

    }

    .digitalContainer {
        padding-top: 65px;
    }

    .digitalSection {
        padding-bottom: 60px;
    }

    .digitalTable {
        margin-bottom: 100px;
    }

    .digitalTop {
        padding-top: 60px;
    }

    .lastRow {
        height: 200px;
        padding-top: 20px;
    }    

    .digitalPageText {
        margin-left: 8%;
        padding-bottom: 80px;
        padding-top: 140px;
        width: 84%;
    }
}

@media only screen and (max-width: 400px) {
    .digitalBlock {
        margin-bottom: 40px;
    }

    .digitalTable {
        margin-bottom: 150px;
    }
}