.contentRow {
    border-bottom: solid thin black;
    padding-bottom: 25px;
    padding-top: 20px;
}

.digitalBlock {
    padding-top: 60px;
    margin-bottom: 25px;
}



.tableSpacer {
    padding-top: 60px;
}

.lastRow {
    height: 80px;
    margin-bottom: 25px;
    padding-top: 20px;
}

@media only screen and (max-width: 800px) {

    .contentRow {
        padding-top: 15px;
    }

    .digitalBlock {
        margin-bottom: 25px;
    }

    .digitalTop {
        padding-top: 60px;
    }

    .lastRow {
        height: 200px;
        padding-top: 20px;
    }    

}

@media only screen and (max-width: 400px) {
    .digitalBlock {
        margin-bottom: 40px;
    }

}