a {
  color: #1a5a96;
  text-decoration: underline;
}

a:hover {
  color: blue;
  text-decoration: none;
}

.pageContainer {
  background-color: #f2f2f2;
}

.routeBody {
  background-color: #f2f2f2;
  padding-bottom: 120px;
}

@media only screen and (max-width: 800px) {
  .pageContainer {
    padding-top: 65px;
  }

  .routeBody {
    padding-bottom: 60px;
  }
}
