.homeHeader {
    height: 600px;
    width: 100%;
    background-image: url("https://images.squarespace-cdn.com/content/v1/515d020be4b0bca14d771121/1509248973895-EF4RRDSAMM3GMRW7BQ7F/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/robbthompson_2017-08-24_3096.jpg?format=2500w");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: lightblue;
    margin-bottom: 50px;
}

.homeTitle {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 37px;
    line-height: 44px;
    text-align: center;
    font-weight: bold;
}

.homeText {
    bottom: 20%;
    text-align: center;
    width: 1124px;
    position: absolute;
    font-family: 'BC Sans';
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;

}

.homeDescription {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 11pt;
    line-height: 12pt;
}

.homeContainer {
    width: 100%;
    align-content: center;
    text-align: center;
}

.cardContainer {
    width: 1124px;
    margin: auto;
}

@media only screen and (max-width: 800px) {
    .homeHeader {
        height: 530px;
    }

    .homeText {
        width: 336px;
        bottom: 0%;
    }

    .cardContainer {
        width: 330px;
        margin: auto;
    }

    .cardImage {

    }
}