.homeContainer {
    background-color: #F2F2F2;
    z-index: 0;
    padding-top: 100px;
    width: 100%;
    align-content: center;
    text-align: center;
}

.cardContainer {
    width: 85%;
    margin: auto;
}

@media only screen and (max-width: 800px) {
    .homeContainer {
        z-index: 0;
        padding-top: 65px;
    }
    .homeHeader {
        height: 530px;
        z-index: 0;
    }

    .homeText {
        width: 336px;
        bottom: 0%;
        z-index: 0;    
    }

    .cardContainer {
        width: 330px;
        margin: auto;
        z-index: 0;
    }

    .cardGrid {
        margin-left: -7px;
    }

    .homeContainer {
        z-index: 0;
        padding-top: 65px;
    }
}