/* TODO: Remove the this file and move content in
 the nav.js styled component file */
  .centerBanner {
    margin: auto;
    width: 1115px;
  }
  
  header .nav-btn {
    cursor: pointer;
    display: block;
    font-size: 18pt;
    margin: 0 0 0 auto;
    width: auto;
  }

  .navigation-main {
    -moz-box-shadow: 0 6px 8px -4px #b3b1b3;
    -webkit-box-shadow: 0 6px 8px -4px #b3b1b3;
    background-color: #38598a;
    box-shadow: 0 6px 8px -4px #b3b1b3;
    color: #fcba19;
    display: none;
    position: fixed;
    top: 113px;
    width: 100%;
    z-index: 1000;
  }

  .navigation-main .container {
    margin: auto;
    padding: 10px 0 10px 0px;
    width: 1065px;
  }

  .navOption {
    color: white;
    margin-bottom: -1px;
  }
  
  @media screen and (min-width: 800px) {
    .navigation-main {
      display: block;
    }

    header .nav-btn {
      cursor: pointer;
      display: none;
      margin: 0 0 0 auto;
      padding-right: 25px;
      width: auto;
    }
  }

  @media screen and (max-width: 1120px) {
    .navigation-main {
      top: 131px;
    }
  }

  @media screen and (max-width: 800px) {
    .centerBanner {
      display: flex;
    }
  }

