.pageTop {
    height: 550px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
    padding-top: 200px;
}

.pageTitle {
    position: relative;
    font-size: 37px;
    line-height: 37px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.pageTextBanner {
    width: 100%;
    background-color: rgba(0, 51, 102, 0.7);
    padding: 25px;
}

.pageText {
    text-align: center;
    width: 85%;
    margin: auto;
}

.pageText p {
    color: white;
    font-weight: bold;
}

.pageDescription p {
    position: relative;
    font-size: 22px;
}

.pageDescription p {
    position: relative;
    font-size: 22px;
}

.plain {
    background-color: #f2f2f2;
}

.transparent {
    margin-top: 70px;
}

.plain p {
    color: #313132;
}

.descriptionShrink {
    font-size: 22px;
}

@media only screen and (max-width: 800px) {
    .pageHeader {
        height: 530px;
    }

    .titleShrink {
        font-size: 16px;
    }

    .pageText {
        padding-top: 100px;
        width: 330px;
    }

    .pageTop {
        height: 400px;
    }

    .descriptionShrink {
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    
    .pageText {
        padding-top: 40px;
        width: 84%;
        margin-left: 8%;
    }

    .pageDescription {
        font-size: 10pt;
        text-align: justify;
    }
    
    .pageTop {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .pageDescription p {
        font-size: 16px;
        width: 100%;
    }

    .pageTextBanner {
        padding: 10px;
    }

    .pageTitle {
        margin-top: -30px;
    }

}