.pageTop {
    height: 600px;
    width: 100%;
    background-image: url(https://dalehartery.files.wordpress.com/2015/05/light-grey-background-pattern.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: lightblue;
    margin-bottom: 50px;
}

.pageTitle {
    position: relative;
    font-size: 31px;
    line-height: 44px;
    text-align: center;
    font-weight: bold;
}

.pageText {
    padding-top: 250px;
    text-align: center;
    width: 1124px;
    font-family: 'BC Sans';
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: black;

}

.pageDescription {
    position: relative;
    font-size: 12pt;
    line-height: 16pt;
}

@media only screen and (max-width: 800px) {
    .pageHeader {
        height: 530px;
    }

    .pageText {
        padding-top: 100px;
        width: 330px;
    }

    .pageTop {
        height: 400px;
    }
}

@media only screen and (max-width: 400px) {
    
    .pageText {
        padding-top: 40px;
        width: 84%;
        margin-left: 8%;
        
    }

    .pageDescription {
        font-size: 10pt;
        text-align: justify;
        width: 100%;
    }

}