.pageTop {
    width: 100%;
    position: relative;
    margin-bottom: 120px;
    height: 600px;
    overflow: hidden;
}

.pageTitle {
    position: relative;
    font-size: 37px;
    line-height: 37px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.pageTextBanner {
    z-index: 1;
    width: 100%;
    position: absolute;
    margin-top: 260px;
    margin-bottom: 120px;
    background: rgba(0, 51, 102, 0.7);
    padding: 25px;
}

.pageText {
    text-align: center;
    width: 85%;
    margin: auto;
    padding-top: 10px;
}

.pageText p {
    color: white;
    font-weight: bold;
}

.pageDescription p {
    position: relative;
    font-size: 22px;
}

.pageDescription p {
    position: relative;
    font-size: 22px;
}

.plain {
    background-color: #f2f2f2;
}

.transparent {
    margin-top: 70px;
}

.plain p {
    color: #313132;
}

.descriptionShrink {
    font-size: 22px;
}

.caseBannerImage {
    pointer-events: none;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-width: 110%;
    margin-left: -10%;
    margin-top: -50px;
}

.homeBannerImage {
    pointer-events: none;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    margin-left: -10%;
    max-width: auto;
}

@media only screen and (max-width: 800px) {

    .pageTop {
        height: 520px;
        margin-bottom: 60px;
    }

    .titleShrink {
        font-size: 20px;
    }

    .pageText {
        padding-top: 40px;
        width: 330px;
        width: 84%;
        margin-left: 8%;
    }

    .descriptionShrink {
        font-size: 16px;
    }

    .pageTextBanner {
        margin-top: 60px;
    }

    .pageTitle {
        font-size: 31px;
    }


    .pageDescription p {
        font-size: 16px;
        width: 100%;
        text-align: center;
    }

    .pageTextBanner {
        padding-top: 0px;
    }

    .caseBannerImage {
        height: 600px;
        max-width: 200%;
    }

    .homeBannerImage {
        max-width: auto;
        margin-left: -50%;
    }

}