.caseBannerImage {
    margin-left: -10%;
    margin-top: -50px;
    max-width: 110%;
    min-height: 100%;
    min-width: 100%;
    pointer-events: none;
    position: absolute;
}

.descriptionShrink {
    font-size: 22px;
}

.pageDescription p {
    font-size: 22px;
    position: relative;
}

.pageText {
    margin: auto;
    padding-top: 10px;
    text-align: center;
    width: 975px;
}

.pageText p {
    color: white;
    font-weight: bold;
}

.pageTextBanner {
    background: rgba(0, 51, 102, 0.7);
    margin-bottom: 120px;
    margin-top: 260px;
    padding: 25px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.pageTitle {
    font-size: 37px;
    font-weight: bold;
    line-height: 37px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

.pageTop {
    height: 600px;
    margin-bottom: 120px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.plain {
    background-color: #f2f2f2;
}

.plain p {
    color: #313132;
}

.plainPageText {
    margin: auto;
    padding-bottom: 110px;
    padding-top: 120px;
    text-align: center;
    width: 975px;
}

.transparent {
    margin-top: 70px;
}

@media only screen and (max-width: 800px) {

    .caseBannerImage {
        height: 600px;
        max-width: 200%;
    }

    .descriptionShrink {
        font-size: 16px;
    }

    .pageDescription {
        font-size: 10pt;
        text-align: justify;
    }

    .pageDescription p {
        font-size: 16px;
        text-align: center;
        width: 100%;
    }

    .pageText {
        margin-left: 8%;
        padding-top: 80px;
        width: 84%;
    }

    .pageTextBanner {
        margin-top: 60px;
        padding-top: 0;
    }

    .pageTitle {
        font-size: 31px;
    }

    .pageTop {
        height: 520px;
        margin-bottom: 60px;
        margin-top: -50px;
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .titleShrink {
        font-size: 20px;
    }
    
}