
.instructionsFirst {
    padding-bottom: 30px;
    margin: auto;
}

.instructionCol {
    margin-bottom: 25px;
}

.cardAdjustment {
    padding-left: -8px;
    width: 100%;
}

/* .productCardLink {
    text-decoration: underline;
} */