.productsContainer {
    background-color: #F2F2F2;
    padding-top: 100px;
}

.productsBody {
    margin: auto;
    width: 960px;
}

.instructions {
    margin-left: -3px;
}
.instructionsFirst {
    margin-bottom: 25px;
    margin: auto;
    text-align: center;
}

.instructionCol {
    margin-bottom: 25px;
}

.productsTitle {
    font-size: 22pt;
    font-weight: bold;
    line-height: 24pt;
    margin-bottom: 5px;
    margin-left: -1px;
}

.cardAdjustment {
    padding-left: -8px;
    width: 100%;
}

.productsSubtitle {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 24pt;
}

.productsParagraph {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 12pt;
    line-height: 16pt;
}


.productCardLink {
    text-decoration: underline;
}

.productsLink {
    font-family: 'BC Sans';
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 12pt;
}

.bolder {
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .productsContainer {
        padding-top: 65px;
    }

    .productsTitle {
        margin-left: -4px;
    }

    .productTop {
        padding-top: 75px;
    }
}