.resourceContainer {
    padding-top: 100px;
    background-color: #F2F2F2;
}

.resourcesBody {
    width: 85%;
    margin: auto;
}

.resourceInfoTitle {
    font-size: 22pt;
    font-weight: bold;
    margin-bottom: 24px;
    padding-left: 27px;
    
}

.standardInfo {
    margin-bottom: 15px;
}

.standardInfoTitle {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 16px;
}

.resourceLink {
    font-weight: bold;
    font-family: 'BC Sans';
    margin-bottom: 16px;
}

.resourceContainer {
    width: 100%;
}

.digitalCards {
    margin: auto;
    margin-bottom: 40px;
    align-content: left;
}

.digitalSubtitle {
    font-weight: bold;
    font-size: 16pt;
    margin: auto;
    text-align: center;
}

.cardGrid {
    margin-left: -7px;
}

.forDesigners {
    margin: auto;
    margin-bottom: 10px;
}

.forDevelopers {
    margin-bottom: 40px;
    margin: auto;
}

.guides {
    margin: auto;
    margin-bottom: 40px; 
}

.standards {
    margin-bottom: 40px; 
    margin: auto;
}

.guidesImg {
    height: 300px;
    width: 100%;
}

@media only screen and (max-width: 800px) {

    .resourceBlock {
        margin-bottom: 10px;
    }
    .resourcesBody {
        width: 330px;
        margin: auto;
    }

    .standardInfoTitle {
        margin-bottom: 0px;
    }

    .resourceInfo {
        margin-left: -7px;
    }

    .resourceInfoTitle {
        padding-left: 0px;
    }

    .resourceContainer {
        padding-top: 65px;
    }

    .guidesImg {
        width: 330px;
    }

    .resourceTop {
        padding-top: 100px;
    }

}