@font-face {
    font-family: 'BC Sans';
    font-style: normal;
    src: local('BC Sans'), local('BCSans'),
        url(./fonts/BCSans-Regular.woff)format('woff'),
        url(./fonts/BCSans-BoldItalic.woff)format('woff'),
        url(./fonts/BCSans-Bold.woff)format('woff'),
        url(./fonts/BCSans-Italic.woff)format('woff');
}

@font-face {
    font-family: 'BC SansBold';
    font-style: normal;
    font-weight: normal;
    src: url(./fonts/BCSans-Bold.woff)format('woff');
}

p {
    font-family: BC Sans, Noto Sans, Verdana, Arial, sans-serif;
    color: #313132;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: BC SansBold, Noto Sans, Verdana, Arial, sans-serif;
    color: #313132;
    font-size: 16px;
}

strong, b {
    font-family: BC SansBold, Noto Sans, Verdana, Arial, sans-serif;
}