@font-face {
    font-family: 'BC Sans';
    font-style: normal;
    src: url('./fonts/BCSans-Regular.woff') format('woff'); /* Modern Browsers */
}
@font-face {
    font-family: 'BC Sans';
    font-style: italic;
    src: url('./fonts/BCSans-Italic.woff') format('woff'); /* Modern Browsers */
}
@font-face {
    font-family: 'BC Sans';
    font-weight: 700;
    src: url('./fonts/BCSans-Bold.woff') format('woff'); /* Modern Browsers */
}
@font-face {
    font-family: 'BC Sans';
    font-style: italic;
    font-weight: 700;
    src: url('./fonts/BCSans-BoldItalic.woff') format('woff'); /* Modern Browsers */
}

p, h1, h2, h3, h4, li {
    font-family: BC Sans, Noto Sans, Verdana, Arial, sans-serif;
    color: #313132;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

strong, b {
    font-family: BC Sans, Noto Sans, Verdana, Arial, sans-serif;
    font-weight: 700 !important;
}