---  
  - name: Delete buildconfig for {{ react_infra_name }} of PR {{ PR }} in {{ image_namespace }} namespace
    shell: >
      oc delete -n "{{ image_namespace }}" buildconfig --selector pr={{ PR }}
  - name: Delete build for {{ react_infra_name }} of PR {{ PR }} in {{ image_namespace }} namespace
    shell: >
      oc delete -n "{{ image_namespace }}" build --selector pr={{ PR }}