---  
  - name: Delete pods for {{ react_infra_name }} of PR {{ PR }} in {{ namespace }} namespace
    shell: >
      oc delete -n "{{ namespace }}" pods --selector pr={{ PR }}
  - name: Delete replication controller for {{ react_infra_name }} of PR {{ PR }} in {{ namespace }} namespace
    shell: >
      oc delete -n "{{ namespace }}" replicationcontroller --selector pr={{ PR }}
  - name: Delete deployment config for {{ react_infra_name }} of PR {{ PR }} in {{ namespace }} namespace
    shell: >
      oc delete -n "{{ namespace }}" deploymentconfig --selector pr={{ PR }}
  - name: Delete service for {{ react_infra_name }} of PR {{ PR }} in {{ namespace }} namespace
    shell: >
      oc delete -n "{{ namespace }}" service --selector pr={{ PR }}
  - name: Delete route for {{ react_infra_name }} of PR {{ PR }} in {{ namespace }} namespace
    shell: >
      oc delete -n "{{ namespace }}" route --selector pr={{ PR }}
  


  