-p NAME={{ strapi_infra_name }} \
-p IMAGE_NAMESPACE={{ image_namespace }} \
-p IMAGE_STREAM={{ strapi_infra_name }} \
-p IMAGE_TAG={{ version }} \
-p SUFFIX={{ suffix }} \
-p MONGO_SECRET_NAME={{ mongo_infra_name }}-{{ suffix }} \
-p PULL_REQUEST_NUMBER={{ PR }} 