-p NAME={{ react_infra_name }} \
-p IMAGE_NAMESPACE={{ image_namespace }} \
-p IMAGE_STREAM={{ react_infra_name }} \
-p IMAGE_TAG={{ version }} \
-p SUFFIX={{ suffix }} \
-p PULL_REQUEST_NUMBER={{ PR }}