---
  - hosts: localhost
    gather_facts: no
    vars:
      version: "{{ lookup('template', './templates/pr_tag.j2') }}"
      image_namespace: "{{ tools_namespace }}"
      suffix: "{{ version }}"
      force_build: false
      should_build: true
      infra_name: "{{ strapi_infra_name }}"
    tasks:
      - name: Pre checks
        include: ./tasks/check_pr_exists.yaml

      - name: Check if should build 
        include: ./tasks/check_if_should_build.yaml
        when: not force_build

      - debug:
          msg:
            - not rebuilding react project, there is already a build in progress with the same tail commit
        when: not should_build

      - name: Build React Project
        include: ./tasks/build_strapi.yaml
        when: should_build