{
  "plugins": [
    "react",
    "prettier"
  ],
  "extends": [
    "react-app"
  ],
  "rules": {
    "prettier/prettier": "error",
    "semi": [
      "error",
      "always"
    ],
    "no-cond-assign": [
      "error",
      "always"
    ],
    "jsx-quotes": ["error", "prefer-double"],
    "react/no-set-state": "off",
    "sort-imports": "off",
    "func-style": "off",
    "require-unicode-regexp": "off",
    "max-len": "off",
    "no-process-env": "off",
    "no-console": "off",
    "max-lines-per-function": "off",
    "no-eq-null": "off",
    "no-magic-numbers": "off",
    "no-mixed-operators": "off"
  }
}