name: Delete Dev Deployment on PR close
on: 
  pull_request:
    types: [closed]
jobs:
  run:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8.1'
    - name: Store PR Num in env
      uses: actions/github-script@v3
      with:
        github-token: ${{github.token}}
        script: |
          const prNumber = context.payload.number;
          core.exportVariable('PULL_NUMBER', prNumber);
    - name: install oc
      # manually installing oc, i've opened up an issue with  github actions to include this since they
      # already have kubectl https://github.com/actions/virtual-environments/issues/1083
      run: |
        
        curl -O https://mirror.openshift.com/pub/openshift-v3/clients/3.11.232/linux/oc.tar.gz > oc.tar.gz
        tar xvzf oc.tar.gz 
        ls -l
        sudo mv oc /usr/local/bin
        rm oc.tar.gz
        oc version
        pip3 install ansible openshift
    - name: login to oc client
      run: ansible-playbook ansible/oc-login.yaml -e OPENSHIFT_SERVER_URL=${{ secrets.OPENSHIFT_SERVER_URL_OC4 }} -e CICD_SA_ACCOUNT_TOKEN=${{ secrets.CICD_SA_ACCOUNT_TOKEN_OC4 }}
    - name: delete react deployment
      run: ansible-playbook ansible/clean_up_react_deployment.yaml -e PR=$PULL_NUMBER -e GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}

