name: Deploy React To Dev
on: 
  pull_request:
    paths:
      - 'react-frontend/**'
      - 'openshift/templates/react-frontend'
      - 'ansible/build-react.yaml'
      - 'ansible/deploy-react.yaml'
jobs:
  run:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - name: Store PR Num in env
      uses: actions/github-script@v3
      with:
        github-token: ${{github.token}}
        script: |
          const core = require('@actions/core')
          const prNumber = context.payload.number;
          core.exportVariable('PULL_NUMBER', prNumber);
    - name: install oc
      # manually installing oc, i've opened up an issue with  github actions to include this since they
      # already have kubectl https://github.com/actions/virtual-environments/issues/1083
      run: |
        
        curl -O https://mirror.openshift.com/pub/openshift-v3/clients/3.11.232/linux/oc.tar.gz > oc.tar.gz
        tar xvzf oc.tar.gz 
        ls -l
        sudo mv oc /usr/local/bin
        rm oc.tar.gz
        oc version
        pip install openshift
    - name: login to oc client
      run: ansible-playbook ansible/oc-login.yaml -e OPENSHIFT_SERVER_URL=${{ secrets.OPENSHIFT_SERVER_URL }} -e CICD_SA_ACCOUNT_TOKEN=${{ secrets.CICD_SA_ACCOUNT_TOKEN }}
    - name: build react app
      run: ansible-playbook ansible/build-react.yaml -e PR=$PULL_NUMBER -e GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
    - name: deploy react app
      run: ansible-playbook ansible/deploy-react.yaml -e PR=$PULL_NUMBER
    - name: create github deployment to development
      run: ansible-playbook ansible/create-gh-deployment.yaml -e PR=$PULL_NUMBER -e ENV=dev -e GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} -e OPENSHIFT_SERVER_URL=${{ secrets.OPENSHIFT_SERVER_URL }}
    # TODO include ansible build and deploy play books as well as the creation of a github deployment on success
    
